/*
Gateway Website 2017
General CSS


*/
/*Gateway Promotions Website Custom CSS class --- Last Css call in file*/



/*
Index page
*/

/*
 Description
*/
h3{
    text-align: center;
   
}
div#color.container {
	background-color: #0f006f;
    border-color: #030033;


}




/*
<-------------------------------------------- End Index Page CSS  ------------------------->
*/


/*
About Us
*/


/*
Gateway Promotion About Us
*/


img#firstImage {
    float: right;
    margin-bottom: 200 px;

   
}
h1{
    text-align: center;
   
}
h2{
    text-align: center;
   
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 0px;
    text-align: center;
}






